<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <monitoring xdt:Transform="Insert">
      <triggers>
        <memory privateBytesInKB="210000" />
      </triggers>
      <actions value="Recycle" />
    </monitoring>
  </system.webServer>
</configuration>