@model Workshop.MemoryPressure.Models.Index
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Workshop.MemoryPressure</title>
</head>
<body>
    @if (Model.KuduLink != null)
    {
        <a href="@Model.KuduLink">Kudu</a><br />
    }
    current pressure: @Model.Pressure<br />
    current instance: @Model.ShortId<br />
    @using (Html.BeginForm("IncreasePressure", "Home"))
    {
        <input type="submit" value="IncreasePressure" />
    }

</body>
</html>
