
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Workshop.MemoryPressure</title>
</head>
<body>
    <a href="~/Logs/Log.txt">Log</a><br />
    Hello World
</body>
</html>
